"*":
  "atom-material-ui":
    colors:
      abaseColor: "#232323"
      predefinedColor: "Grey"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      panelShadows: true
  core:
    audioBeep: false
    disabledPackages: [
      "print-atom"
      "wrap-guide"
      "terminal-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 1000
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "29e5870e-19fc-e224-b2e2-b4af312fde30"
  metrics:
    userId: "1fa2e97fb69aceede0a3c4a801b95d1a37e8513b"
  minimap:
    adjustAbsoluteModeHeight: true
    plugins:
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  pigments:
    markerType: "native-underline"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Steel"
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          alpha: 1
          blue: 255
          green: 123
          red: 11
    style: {}
  welcome:
    showOnStartup: false
